<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="iniciarCamera()">
    Iniciar
  </ion-button>
  <img *ngIf="ocrService.imagemCortada" [src]="ocrService.imagemCortada" />
  <p>
    {{ocrService.err}}
  </p>
  <p>
    {{ocrService.text}}
  </p>
</ion-content>
